*{
    margin:0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}
body{
    min-height: 100vh;
    background-image:url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(8, 14, 5);
    color:white;
}
.title{
    margin:2rem;
    font-size: 50px;

}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-end;
    align-items: center;
    margin:2rem;
}
.inner{
    display: flex;
    /* padding:2rem; */
    width:50vw;
    justify-content: space-between;
    font-size: large;
    flex-wrap: wrap;
}