*{
    margin:0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}
body{
    min-height: 100vh;
    background-image:url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:black;
    color:white;
}
.title{
    margin:2rem;
    font-size: 50px;

}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-end;
    align-items: center;
    margin:2rem;
}
.inner{
    display: flex;
    /* padding:2rem; */
    width:50vw;
    justify-content: space-between;
    font-size: large;
    flex-wrap: wrap;
}
.currentDate{
    animation-name: dance;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    text-decoration: underline 1px;
    text-underline-offset: .5rem;
}
@keyframes dance{
    0%{
        text-decoration-color:rgb(72, 240, 252);
    }
    25%{
        text-decoration-color:rgb(252, 107, 55);
    }
    100%{
        text-decoration-color:rgb(72, 240, 252);
    }
}