@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin:0;
    box-sizing: border-box;
    font-family: "Space Mono",monospace;
}
body{
    padding:2rem;
    min-height: 100vh;
    background-image:url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:black;
    color:white;
}
.title{
    margin:1rem;
    font-size: 50px;
    font-weight:400;
    font-family:"Roboto Mono",monospace;
    font-weight:600;

}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-end;
    align-items: center;
    /* font-family: "Roboto Mono",monospace; */
}
.inner{
    display: flex;
    width:50vw;
    justify-content: space-between;
    font-size: large;
    flex-wrap: wrap;
}
.currentDate{
    animation-name: dance;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    text-decoration: underline 1px;
    text-underline-offset: .5rem;
    font-weight:400;
}
